.container {
  max-width: 600px;
  margin: auto;
}


.stop {
  height: 40px;
  width: 40px;
  position: fixed;
  background-color: rgba(#000, .7);
  color: #fff;
  font-size: 12px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
